/*--====== CSS Reset ======--*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(215, 196, 199);
}

input,
button,
textarea {
    color: inherit;
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
    user-select: none;
}


/*--====== Common Styles ======--*/
.overflow_hide {
    overflow: hidden;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#header,
#footer,
.cart_head,
.cart_foot {
    background-color: rgb(228, 139, 168);
    color: #444248;
}


/*--====== Header Section ======--*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
}

.navbar {
     flex:space-between, center;
}
.navbar h4 { font-size: 2rem;
font-weight: bold;
font-style: oblique;}

.cart_icon {
    position: relative;
    cursor: pointer;

    .badge {
        display: inline-block;
        background-color: text-dark;
        color: #6b676b;
        line-height: 1;
        font-size: 0.8rem;
        padding: 0.35rem 0.55rem;
        border-radius: 50%;
    }
}


/*--====== Home / Products Section ======--*/
#home {
    padding: 6rem 0 4rem;
}

.home_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    text-align: center;

    @media(max-width: 399px) {
        grid-template-columns: 1fr;
    }
}

.product_card {
    background-color: inherit;
    box-shadow: card-shadow;
    padding-top: 1rem;
    overflow: hidden;}

    img.Bag{ width:5%;
             max-width: 40px;}
            
    img {
        width: 80%;
        max-width: 200px;

    }
    .img_container:hover img {
        transform: scale(1.2)
    }


    .title {
        font-size: 1,3rem;
        margin: 0.6rem 0;
    }

    .price {
        font-weight: bold;
    }

    .btn {
       background-color:  #929493;
        color: #000100;
        border-radius: 10;
        width: 60%;
        margin-top: 1rem;
        padding: 0.6rem 0;
        font-size: 1rem;
        transform: translate3d();
        transition: all .4s linear
       }

        
        .added {
            color: #d2e7e5;
        }
    



/*--====== Footer Section ======--*/
#footer {
    text-align: center;
    padding: 1.4rem 0;}

    p {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0.8rem; }

        a {
            opacity: 0.8;}

            &:hover {
                opacity: 1;
            }
        
    

    .repo_link {
        opacity: 0.8;}

        &:hover {
            opacity: 1;
        }
    



/*--====== Cart Section ======--*/
#cart {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 86, 216, 0.3);
}

.cart_content {background-color:rgb(215, 196, 199);
    position: absolute;
    top: 0;
    right: 0;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

.cart_head {
    padding: 1rem;
    text-align: center;
    box-shadow: head-shadow;}

    .close_btn {
        position: absolute;
        top: 0;
        left: 0;
        background-color: text-light;
        color: #000;
        padding: 0.2rem 0.6rem;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }}

        span {
            font-size: 2.2rem;
            line-height: 0.8;
        }
    
    

    



.cart_body {
    padding: 1.8rem 1.5rem;
    max-height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart_items {
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 0.2fr 0.1fr;
    align-items: center;
    gap: 2.2rem;
    margin-bottom: 2rem;
}

.cart_items_info {
    .price {
        font-weight: 600;
        margin-top: 0.8rem;
    }
}

.cart_items_quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    background-color: primary-color;
    color: #f38b8b;
    padding: 0.5rem 0;}

    span {
        font-size: 1.2rem;
        background-color: text-light;
        color: #000;
        line-height: 0.5;
        padding: 0.2rem;
        cursor: pointer;
        user-select: none;
        opacity: 0.875;}

        &:hover {
            opacity: 1;
        }

.cart_items_delete {
    font-size: 2rem;
    line-height: 0.5;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 1;
    }
}

.cart_foot {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  box-shadow: foot-shadow}

    h3 
        b {
            margin-left: 0.6rem;
            font-size: 1.4rem;
        }
    

    .checkout_btn {
        background-color: text-light;
        color: #000;
        font-size: 1rem;
        padding: 0.4rem 0.8rem;

        &[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
